#playground, #canvas {
    width: 100%;
    height: 100vh;
    // background: aquamarine;
}

.browse .browse-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.browse .browse-item {
    border: 2px dotted aquamarine;
    flex-grow: 1;
    padding: 0.5rem;
}

.browse .browse-item-details {
    display: flex;
    flex-direction: column;
}

.browse .browse-item-details .item-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.browse .browse-item-details .item-created {
    font-size: 1.1rem;
    font-style: italic;
}

.play-menu {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.play-menu > div {
    border: 2px dotted blue;
    padding: 0.2rem;
}

.browse-menu {
    margin-bottom: 1rem;
}